div#page{
    width:100%;
    height: auto;
}
iframe{
    display: none;
}
img#bg{
    opacity: .2;
    width:100%;
    height: auto;
}
div#textSpace{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
span{
    color: white;
    position: absolute;
}