div#page{
    width:100%;
    min-height: 1200px;
    max-height: 4000px;
    opacity: .2;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg");
    background-repeat: space;
    position: absolute;
    z-index: -1;
}
iframe{
    height:100%;
    width: 100%;
}
img#bg{
    opacity: .2;
    width:100%;
    height: auto;
    position: absolute; 
    z-index: -1;
}
div#textSpace{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
span{
    color: white;
    position: absolute;
}
span#hvrtxt{
    color:indigo;
    text-shadow: 2px 2px red;
    font-size: 22px;
}
a,span#hvrtxt{
    padding: 10px 10px 10px 10px;
}