#page {
    height: 30rem;
  }
  
  iframe{
      display: none;
  }
  /*img#bg{*/
      /*opacity: .2;*/
      /*width:100%;*/
      /*height: auto;*/
  /*}*/
  div#textSpace{
    overflow: hidden;
    text-align: center;
    height: inherit;
    background-color: black;
  }
  
  h1{
    background-color: transparent;
      color: ghostwhite;
  }

  #ballrow {
      position: relative;
      height: 55%;
      min-height: 275px;
      margin-left: 12%;
      margin-right: 12%;
  }
  
  .ball {
      background-color: transparent;
      position: absolute;
      bottom: 0;
  }

  #Basketball {
    height: 275px;
    width: auto;
    left: 0;
    z-index: 1;
  }

  #Baseball {
      height: 75px;
      width: auto;
      left: 250px;
      z-index: 3;
  }

  #Football {
      height: 230px;
      width: auto;
      left: 320px;
      z-index: 2;
  }

  #Soccer {
      height: 275px;
      width: auto;
      left: 550px;
      z-index: 1;
  }

  #Cricket {
      height: 275px;
      width: auto;
      left: 750px;
      z-index: 0;
  }