h1{
    text-align: center;
}

#details,
#editDetails {
    width: auto;
    text-align: center;
}

.card {
    background-color: #F5F5F5;
    border: none;
}

.mat-input-element {
    width: 35%;
    min-width: 200px;
}

.btn {
    height: 40px;
}