 <div class="container">
      <div id="details" class="card" style="width: 18rem;">
          <img src="../../../assets/png/avatar.png" class="card-img-top" alt="avatar here">
          <div class="card-body">
            <h5 class="card-title">Account Details</h5>
            <p class="card-text">First Name: </p>
            <p class="card-text">Last Name: </p>
            <p class="card-text">Username: </p>
            <p class="card-text">Email: </p>
            <button (click)="showEdit()">Edit</button>
          </div>
      </div>

      <div id="edit" class="card" style="width: 18rem; display:none;">
          <img src="../../../assets/png/avatar.png" class="card-img-top" alt="avatar here">
          <div class="card-body">
            <h5 class="card-title">Editing Account</h5>
            <p class="card-text">First Name: <input type="text" value=""/></p>
            <p class="card-text">Last Name: <input type="text" value=""/></p>
            <p class="card-text">Username: <input type="text" value=""/></p>
            <p class="card-text">Email: <input type="text" value=""/></p>
            <button onclick="edit()">Submit</button> |
            <button (click)="deleteAccount()">Delete Account</button>
          </div>
      </div>
 </div>
