 <div id="container" class="container">
      <div id="details" class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card Details</h5>
            <p class="card-text">Card Number: </p>
            <p class="card-text">CVV: </p>
            <p class="card-text">Username: </p>
            <p class="card-text">Email: </p>
            <button (click)="showEdit()">Edit Account</button>
          </div>
      </div>

      <div id="editDetails" class="card" style="width: 18rem; display: none;">
          <div class="card-body">
            <h5 class="card-title">Card Details</h5>
            <p class="card-text">Card Number: <input type="number" value=""/></p>
            <p class="card-text">CVV: <input type="number" value=""/></p>
            <p class="card-text">Username: <input type="text" value=""/></p>
            <p class="card-text">Email: <input type="email" value=""/></p>
            <button (click)="edit()">Confirm</button> |
            <button (click)="deleteAccount()">Delete Account</button>
          </div>
      </div>
 </div>
