<div id="container" class="container">
  <h1 class="jumbotron jumbotron-fluid animated bounceIn">My Account</h1>
      <div #displayDetails id="details" class="card animated fadeInDown">
          <div class="card-body">
            <h5 class="card-title">Card Details</h5>
            <p class="card-text">Card Number: {{cardNum}}</p>
            <p class="card-text">Card CVV: {{cardCVV}}</p>
            <p class="card-text">Name on Card: {{cardName}}</p>
            <p class="card-text">Email: {{email}}</p>
            <button class="btn btn-outline-info btn-sm" (click)="showEdit()">Edit Account</button>
          </div>
      </div>

      <div #editDetails id="editDetails" class="card">
          <div class="card-body">
            <h5 class="card-title">Card Details</h5>
            <p class="card-text">
              <mat-form-field>
                <input matInput type="number" id="cardNum" [(ngModel)]="cardNum" placeholder="Card Number" maxlength="16"/>
              </mat-form-field>
            </p>
            <p class="card-text">
              <mat-form-field>
                <input matInput [(ngModel)]="cardCVV" type="number" placeholder="Card CVV" maxlength="3" />
              </mat-form-field>
            </p>
            <p class="card-text">
              <mat-form-field>
                <input matInput [(ngModel)]="cardName" type="text" placeholder="Name on Card"/>
              </mat-form-field>
            </p>
            <p class="card-text">
              <mat-form-field>
                <input matInput [(ngModel)]="email" type="email" placeholder="Email Address"/>
              </mat-form-field>
            </p>
            <button class="btn btn-outline-primary btn-sm" (click)="edit()">Confirm</button> |
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete Account</button>
          </div>
      </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Warning! This will permanently delete your account! No refunds will be given for active subscriptions!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-outline-danger">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>
