img {
  width: 10rem;
}

.edit-img {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: .5rem;
}

.edit-img:hover {
  color: blue !important;
  text-decoration: underline !important;
}
