<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar m-1">
            <a>
              <img class="img" src="{{user.image}}" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Occupation</h6>
            <h4 class="card-title">{{user.fname}} {{user.lname}}</h4>
            <p class="card-description">
              {{user.bio}}
            </p>
            <a class="btn btn-danger btn-round">Subscribe</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <mat-tab-group>
          <mat-tab label="Feed">
            <content></content>
          </mat-tab>
          <mat-tab label="News">
            News
          </mat-tab>
          <mat-tab label="Shop">
            <shopping-list></shopping-list>
          </mat-tab>
          <mat-tab label="Calender">
            <calendar></calendar>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
