<div id="container">
  <h1>Search Results</h1>
  Search: <input type="text"><br>
  <div id="row" class="row">
      <div class="col-sm-12" id="results">
          <div class="list-group">
              <div id="" class="list-group-item list-group-item-action">Personality: Dapibus ac</div>
              <div id="" class="list-group-item list-group-item-action">Personality: Dapiman</div>
              <div id="" class="list-group-item list-group-item-action">Post: Ac facilisis dapi</div>
              <div id="" class="list-group-item list-group-item-action">Post: Morbi leo dapipor risus</div>
          </div>
      </div>
  </div>
  <div id="noresults" style="display: none;">
    No results found. Try another search?
  </div>
</div>