<div id="container">
  <h1 class="jumbotron jumbotron-fluid">Search Results</h1>
  <mat-form-field style="width: 30%; min-width: 150px; color: #f5f5f5;">
    <input matInput type="text" [(ngModel)]="term" (change)="changeTerm($event)" placeholder="Search">
  </mat-form-field>
  <br>
  <div id="row" class="row">
      <div class="col-sm-12" id="results">
          <div class="container">
            <div class="card d-flex flex-row" *ngFor="let person of profiles">
                <div class="d-flex justify-content-around">
                    <img *ngIf="person.img != ''" src={{person.img}} alt="something" (click)="showUser(person.name)" />
                </div>
                <div class="flex-grow-1" (click)="showUser(person.name)">
                  <div style="text-align: left; margin-left: 1rem"><strong>{{person.name}}</strong></div>
                      <ul style="text-align: end; margin-right: 1rem;" *ngIf="person.numSubs != -1">
                          <li>
                            <mat-icon svgIcon="people_outline"></mat-icon> {{person.numSubs}}
                          </li>
                          <li>
                            <mat-icon svgIcon="av_timer"></mat-icon> {{person.postsMonth}}
                          </li>
                      </ul>
                  <button *ngIf="person.numSubs !== -1" class="subscribe-btn" mat-raised-button>Subscribe</button>
                </div>
            </div>
          </div>
      </div>
  </div>
  <div id="noresults" style="display: none;">
    No results found. Try another search?
  </div>
</div>
