<section class="text-center my-5 About">
    <!-- Section heading -->
    <h1 class="h1-responsive font-weight-bold my-3">Why register?</h1>
    
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5">IPU is "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4">
        <i class="fa fa-wind fa-4x"> </i>
        <h5 class="font-weight-bold my-4">Innovative</h5>
        <p class="grey-text mb-md-0 mb-5"> </p>
        <div class="text-center mx-auto d-block">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          <div class='text-center mx-auto d-block h6'>
            
          </div>
  
        </div>
  
      </div>
  
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4">
  
        <i class="fa fa-microphone-alt fa-4x"></i>
        <h5 class="font-weight-bold my-4">Be the first to hear</h5>
        <p class="grey-text mb-md-0 mb-5">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
  
        <div class='text-center mx-auto d-block h6'>
          
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4">
        <i class="fas fa-star fa-4x"></i>
        <h5 class="font-weight-bold my-4">Exclusive Insider Access</h5>
        <p class="grey-text mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Features v.1 -->