.logo {
  height: 80%;
  margin-left: .5rem;
}
a {
    text-decoration: none;
}
mat-toolbar{
    background-color: sandybrown;
}

button {
  margin-right: .5rem;
}

form {
  display: inline-block;
}

#MenuRight, #MenuBtn {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

