<mat-toolbar>IPU
  <img class="logo" src="../../../assets/glossy-ball.jpg" alt="logo here"/>
  <button id="MenuBtn" *ngIf="(isHandset | async).matches" mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
  <div id="MenuRight" *ngIf="!(isHandset | async).matches">
    <button mat-raised-button routerLink="/login-register" (click)="logregister()">Register</button>
    <button mat-raised-button>Subscribe</button>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput>
      </mat-form-field>
      <button mat-button>Search</button>
    </form>
    <button mat-icon-button [matMenuTriggerFor]="accountmenu">
      <mat-icon svgIcon="account_circle"></mat-icon>
    </button>
    <mat-menu #accountmenu="matMenu">
      <button mat-menu-item>Account</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Sign Out</button>
    </mat-menu>
  </div>
  <mat-menu style="padding-bottom: 0;" #menu="matMenu">
    <button *ngIf="!(isMobile | async).matches" mat-menu-item>Home</button>
    <button *ngIf="!(isMobile | async).matches" mat-menu-item>Profile</button>
    <button *ngIf="!(isMobile | async).matches" mat-menu-item>Explore</button>
    <form (click) = "$event.stopPropagation()" mat-menu-item class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search">
      </mat-form-field>
      <button mat-flat-button style="margin: 0; padding: 0;">Search</button>
    </form>
    <button mat-menu-item routerLink="/login-register" (click) = "logregister()">Register</button>
    <button mat-menu-item (click) = "$event.stopPropagation()">Subscribe</button>
    <button (click) = "$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="accountmenu">
      <mat-icon svgIcon="account_circle"></mat-icon>
    </button>
    <mat-menu #accountmenu="matMenu">
      <button mat-menu-item>Account</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Sign Out</button>
    </mat-menu>
  </mat-menu>
  <mat-toolbar *ngIf="(isMobile | async).matches">
    <button mat-button>Home</button>
    <button mat-button>Profile</button>
    <button mat-button>Explore</button>
  </mat-toolbar>
</mat-toolbar>
