<div id="container">
  <img src="../../assets/glossy-ball.jpg" alt="logo here"/>
  <br>
  <input type="button" onclick="" value="Search" style="float: right;"/>
  <input type="text" placeholder="Search the site" style="float: right;"/>
  <input type="text" placeholder="email address"/>
  <input type="password" placeholder="password"/>
  <input type="button" onclick="" value="Login"/>
  <input type="button" routerLink="/login-register" onclick="logregister()" value="Register"/>
  <br><br>
  <a href="forgot">Forgot your password?</a>
</div>