<div class="border border-top border-dark rounded" id="container">
  <div id="logo-container">
    <img src="../../assets/glossy-ball.jpg" alt="logo here"/>
  </div>
  <div id="login-group">
    <input id="email" class="form-control" type="text" placeholder="Email"/>
    <input id="password" class="form-control" type="password" placeholder="Password"/>
    <input class="btn" style="height: 100%" type="button" onclick="" value="Login"/>
    <!-- <input class="btn btn-default" style="height: 100%" type="button" onclick="" value="Register"/> -->
  </div>
  <div id="search-group">
    <input id="search-bar" class="form-control" type="text" placeholder="Search"/>
    <input id="search-btn" class="btn" type="button" onclick="" value="Search"/>
  </div>
  <br><br>
  <a href="forgot">Forgot your password?</a> | <a href="register">New user? Register here</a>
</div>