*:hover{
    box-shadow: 0px 2px 2px 2px dimgray;
}
img#avatar{
    width:50%;
    height:50%;
}
img#favatar,img#pavatar{
    width:15%;
    height:15%;
}
h1,h3{
    text-align: center;
    box-shadow: 0px 0px 0px 0px dimgray;
}
button#deleteBtn{
    float: right;
    /*background-color: firebrick;*/
}
div#container{
    overflow: auto;
    box-shadow: 0 0 0 0 white;
}
div#sublist,div#posts{
    max-height: 90%;
    overflow: auto;
}
ul#details{
    max-height: 45%;
    overflow: auto;
}
div#friends{
    max-height: 45%;
    overflow: auto;
}
.card-text{
    box-shadow: 0 0 0 0 white;
}
@media (max-width: 990px)
{
    div#posts {
        max-height: 690px;
    }

    div#friends {
        max-height: 265px;
    }

    div#sublist {
        max-height: 300px;
    }
}