img#avatar{
    width:50%;
    height:50%;
}
img#favatar,img#pavatar{
    width:15%;
    height:15%;
}
h1{
    text-align: center;
}
button#deleteBtn{
    float: right;
    background-color: firebrick;
    color: white;
}
div#container{
    overflow: auto;
}
div#sublist,div#posts{
    max-height: 90%;
    overflow: auto;
}
div#details{
    height: 45%;
    max-height: 45%;
}
div#friends{
    max-height: 45%;
    overflow: auto;
}
.list-group-item,a{
    background-color: darkblue;
    color:greenyellow;
}
h1,div#container{
    background-color: black;
    color: greenyellow;
}