<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">

  <swiper #swiper [@onSwipe]="slides.length"  *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="!(isMobile | async)?.matches ? mobileConfig : handsetConfig"  [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
    <div *ngFor="let slide of slides; let i of index" class="swiper-slide">
      <div class="card-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <mat-card style="perspective: 800px;" >
          <h6>{{slide.title}}</h6>
          <mat-card-content style="position: relative;transform-style: preserve-3d;transition: transform 1s;">
            <mat-card>
              <mat-icon (mouseenter)="this.hover(i)" (mouseleave)="this.unHover(i)" [@onHover]="currentCategory == slide.index ? 'hover' : 'unhover'" style="padding: 10px;" id="{{i}}" svgIcon="{{slide.svg}}"></mat-icon>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </swiper>

  <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="!(isMobile | async).matches ? mobileConfig : handsetConfig" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
    <div class="swiper-wrapper">
      <div *ngFor="let slide of slides" class="swiper-slide">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
          {{slide}}
        </div>
      </div>
    </div>

    <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
    <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

    <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
    <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
  </div>
</div>
