<div id="container" style="overflow:hidden">
  <h1 class="animated bounceIn">About Us</h1>
  <p style="text-align: center;" class="animated bounceIn">
    The purpose of this site is to provide a meaningful method of connecting well-known, respected personalities and their fanbases. <br>
    As a subscriber, you will receive sneak previews and updates directly from personalities before anyone else. <br>
    As a personality, you can directly communicate with your subscribers and provide content to them securely. <br>
    In addition, you will earn royalties from your total subscribers across the site. <br>
    We hope that our site will help connect personalities and fans across the globe for years to come. <br>
    Thank you for visiting.<br>
  </p>
</div>