<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto" style="min-width: 65rem;">
  <swiper class="swiper-container" *ngIf="type == 'component' && show" [userSwiperClass] fxFlex="auto" [config]="config"  [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
    <div *ngFor="let item of data; let i of index" class="swiper-slide">
      <div class="container-fluid h-100" style="width: 100%">
        <div class="row h-100" style="width: inherit; margin: 0">
          <div class="col-12">
            <video id="myVideo" autoplay muted loop class="video">
              <source *ngIf="item.webm" src="{{item.webm}}" type="video/webm">
              <source src="{{item.mp4}}" type="video/mp4">
            </video>
            <div class="content" style="right: 0">
                 <!--[ngStyle]="{right: (headerFlip | async)?.matches ? null : 0}">-->
              <!--<h1>{{item.heading}}</h1>-->
              <img style="max-height: 10rem; max-width: 10rem;" src="{{item.logo}}"/>
              <!--<p>{{item.caption}}</p>-->
            </div>

            <ul class="list-unstyled" style="position: absolute">
              <li class="media mb-2"  *ngFor="let feat of item.stats">
                <img style="width: 10rem; height: 5rem" src="{{feat.img}}" class="mr-3 stat-img" alt="..." *ngIf="feat">
                <div class="media-body" *ngIf="feat">
                  <h5 class="mt-0 mb-1">{{feat.title}}</h5>
                  {{feat.caption}}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </swiper>

  <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
    <div class="swiper-wrapper">
      <div *ngFor="let slide of business" class="swiper-slide">
        <div fxLayout="column" fxLayoutAlign="center center">
          {{slide}}
        </div>
      </div>
    </div>

    <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
    <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

    <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
    <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
  </div>
</div>
