/*Swiper*/

.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 800px;
  /*height: 500px;*/
  /*max-width: 90%;*/
  /*max-height: 90%;*/
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;

  color: #555;
  background-color: #eee;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
}

.info-container {
  padding: 12px 16px;

  line-height: 24px;
}

.action-container,
.content-container {
  position: relative;
  overflow: auto;
  height: 30rem;
  margin: 8px 16px;
  border-radius: 4px;

  background-color: #fff;
}

.action-container {
  padding: 16px;
}

.vertical-container,
.horizontal-container {
  min-height: 0 !important;
}

.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  /*min-height: 35px;*/
  padding: 4px 16px;
  margin: 8px;
  border: 1px solid #555;
  border-radius: 4px;

  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  color: #aaa;
  background-color: #eee;
  background-color: rgba(0,0,0,0.5) !important;;
}

.swiper-slide-active {
  color: #fff;
  background-color: #aaa;
}

.content-container {
  margin-left: 0; margin-right: 0; margin-top: 0;
}

.card-container {
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.slider-image {

}

.h-100 {
  height: 20rem
}

.h-50 {
  height: 50%
}

/* Style the video: 100% width and height to cover the entire window */
.video {
  /*position: fixed;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*min-width: 100%;*/
  /*min-height: 100%;*/
}

.content2 {

}

/* Add some content at the bottom of the video/page */
.content {
  /*position: fixed;*/
  bottom: 0;
  background: rgba(218,68,83,.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
