<div class="container">
    <h1 class="jumbotron jumbotron-fluid">404<br>That page cannot be found</h1>
    <div>We're sorry, it seems the page you're looking for cannot be found</div>
    <ul>
        <li>May we suggest one of these pages?</li>
        <li><a class="link" routerLink="">Home</a></li>
        <li><a class="link" routerLink="/football">NFL</a></li>
        <li><a class="link" routerLink="/nba">NBA</a></li>
        <li><a class="link" routerLink="/jackiechan">Jackie Chan</a></li>
        <li><a class="link" routerLink="/livenation">Live Nation</a></li>
    </ul>
</div>
