#page {
    height: 100vh;
}

#header {
    height: 65px;
    width: 100%
}


/* #footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
} */
/* 
#body {
    display: block;
    height: 84%;
} */

@media (min-width: 370px){
    #footer{
        height: 23px;
    }
}

@media (min-width: 510px){
    #footer{
        height: 30px;
    }
}

