h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.container {
    height: 800px;
    overflow: auto;
}

.sunbscribe-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #F4A460;
}
