h1 {
    text-align: center;
}

a {
    color: black;
}

ul {
    list-style: none;
}

.block {
    height: 520px;
    width: 95%;
    display: block;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}

.block-title {
    text-align: center;
}

.view {
    height: 450px;
    box-sizing: border-box;
}

.view-content {
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
    margin-bottom: 50px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.views-row {
    z-index: 1;
    width: 16.66666667%;
    padding-right: 15px;
    padding-left: 15px;
}

.views-field-title {
    background-color: #E9ECEF;
    align-items: center;
    align-content: center;
    text-align: center;
}

.views-row-even {
    padding-top: 90px;
}

.img-responsive {
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    max-height: 220px;
}

.views-field-field-sub-chapters {
    visibility: hidden;
}

.views-row:hover .views-field-field-sub-chapters {
    visibility: visible;
}
