<h1 [@itemFallAnimation] class="jumbotron jumbotron-fluid">Explore Categories</h1>
<div class="container">
  <div class="d-flex flex-row">
    <section id="block-views-chapters-block" class="block block-views table-contents-class clearfix">
      <div class="view view-chapters view-id-chapters view-display-id-block wrapper-chapters-block view-dom-id-d1f0b5fefb2d1a7ac5ad637c3ebe9baa">
        <div class="view-content">
          <div class="views-row views-row-1 views-row-odd views-row-first chapter-rows row-introduction"
            data-revealer-color="#5087c7">
            <div [@itemFallAnimation] class="views-field views-field-field-image img-chapter">
              <div class="field-content">
                <img typeof="foaf:Image" class="img-responsive" src="assets/png/microphone.png" alt="">
              </div>
            </div>
            <div [@itemFallAnimation] class="views-field views-field-title title-chapter" name="img_name" (mouseover)="testFunc()">
              <span class="field-content">
                <a href="music">Music</a>
              </span>
            </div>
            <div [@itemFallAnimation] class="views-field views-field-field-sub-chapters title-subchapters">
              <div class="field-content" style="height: 144px;">
                <ul>
                  <li>
                    <a href="livenation">Live Nation</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div [@itemFallAnimation] class="views-row views-row-2 views-row-even chapter-rows row-connections"
            data-revealer-color="#775592">
            <div class="views-field views-field-field-image img-chapter">
              <div class="field-content">
                <img typeof="foaf:Image" class="img-responsive" src="assets/png/movies.jpg" alt="">
              </div>
            </div>
            <div class="views-field views-field-title title-chapter">
              <span class="field-content">
                <a href="movies">Movies/TV</a>
              </span>
            </div>
            <div class="views-field views-field-field-sub-chapters title-subchapters">
              <div class="field-content" style="height: 419px;">
                <ul>
                  <li>
                    <a href="discovery">Discovery Network</a>
                  </li>
                  <li>
                    <a href="discovery">OWN Network</a>
                  </li>
                  <li>
                    <a href="bollywood">Bollywood</a>
                  </li>
                  <li>
                    <a href="jackiechan">Jackie Chan</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div [@itemFallAnimation] class="views-row views-row-3 views-row-odd chapter-rows row-partnership"
            data-revealer-color="#00a7b7">
            <div class="views-field views-field-field-image img-chapter">
              <div class="field-content">
                <img typeof="foaf:Image" class="img-responsive" src="assets/png/sports.png" alt="">
              </div>
            </div>
            <div class="views-field views-field-title title-chapter">
              <span class="field-content">
                <a href="sports">Sports</a>
              </span>
            </div>
            <div class="views-field views-field-field-sub-chapters title-subchapters">
              <div class="field-content" style="height: 164px;">
                <ul>
                  <li><a href="football">NFL</a></li>
                  <li><a href="mls">MLS</a></li>
                  <li><a href="nascar">Nascar</a></li>
                  <li><a href="formulaone">Formula One</a></li>
                  <li><a href="mlb">MLB</a></li>
                  <li><a href="cricket">Cricket</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div [@itemFallAnimation] class="views-row views-row-4 views-row-even chapter-rows row-finance"
            data-revealer-color="#7ac143">
            <div class="views-field views-field-field-image img-chapter">
              <div class="field-content">
                <img typeof="foaf:Image" class="img-responsive" src="assets/png/travel.png" alt="">
              </div>
            </div>
            <div class="views-field views-field-title title-chapter">
              <span class="field-content">
                <a href="travel">Travel</a>
              </span>
            </div>
            <div class="views-field views-field-field-sub-chapters title-subchapters">
              <div class="field-content" style="height: 246px;">
                <ul>
                  <li>
                    <button (click)="setTopic('livenation')">Test Live Nation</button>
                    <!-- <a href="organization" (click)="setTopic('livenation')">Test Live Nation</a> -->
                  </li>
                  <li>
                    <button (click)="setTopic('mlb')">Test MLB</button>
                    <!-- <a href="organization" (click)="setTopic('mlb')">Test MLB</a> -->
                  </li>
                  <li>
                    <button (click)="setTopic('discovery')">Test Discovery</button>
                  </li>
                  <li>
                    <button (click)="setProfile('beyonce')">Test Beyonce</button>
                  </li>
                  <li>
                    <button (click)="setProfile('jackiechan')">Test Jackie Chan</button>
                  </li>
                  <li>
                    <button (click)="setTopic('mls')">Test MLS</button>
                  </li>
                  <li>
                    <button (click)="setTopic('nascar')">Test Nascar</button>
                  </li>
                  <li>
                    <button (click)="setTopic('nba')">Test NBA</button>
                  </li>
                  <li>
                    <button (click)="setTopic('formulaone')">Test Formula One</button>
                  </li>
                  <li>
                    <button (click)="setTopic('cricket')">Test Cricket</button>
                  </li>
                  <li>
                    <button (click)="setTopic('bollywood')">Test Bollywood</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div [@itemFallAnimation] class="views-row views-row-5 views-row-odd chapter-rows row-measurement"
            data-revealer-color="#dd6a61">
            <div class="views-field views-field-field-image img-chapter">
              <div class="field-content">
                <img typeof="foaf:Image" class="img-responsive" src="assets/png/education.png" alt="">
              </div>
            </div>
            <div class="views-field views-field-title title-chapter">
              <span class="field-content">
                <a href="education">College Sports</a>
              </span>
            </div>
            <div class="views-field views-field-field-sub-chapters title-subchapters">
              <div class="field-content" style="height: 226px;">
                <ul>
                  <li><a href="https://www.collegesimply.com/colleges/">Colleges/Universities</a></li>
                  <li><a href="https://www.collegesimply.com/colleges/">Team Donations</a></li>
                  <li><a href="http://www.fanaticsauthentic.com/COLLEGE">Sports Memorabilia</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div [@itemFallAnimation] class="views-row views-row-6 views-row-even views-row-last chapter-rows row-appendices"
            data-revealer-color="#19398a">
            <div class="views-field views-field-field-image img-chapter">
              <div class="field-content">
                <img typeof="foaf:Image" class="img-responsive" src="assets/png/food.png" alt="">
              </div>
            </div>
            <div class="views-field views-field-title title-chapter">
              <span class="field-content">
                <a href="food">Food</a>
              </span>
            </div>
            <div class="views-field views-field-field-sub-chapters title-subchapters">
              <div class="field-content" style="height: 195px;">
                <ul>
                  <li><a href="https://www.subway.com">Sandwiches</a></li>
                  <li><a href="https://www.sbarro.com">Italian</a></li>
                  <li><a href="https://www.mcdonalds.com">Breakfast</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>