<!-- Mockup -->
<div id="back">
<div id="container" class="container">
    <h1 class="jumbotron jumbotron-fluid animated bounceIn">Content From Your Subscriptions</h1>
    <div id="header" class="row animated fadeInDown">
        <div class="col-sm-5" id="left">
            <h3>Personality</h3>
        </div>
        <div class="col-sm-7" id="right">
            <h3>Feed</h3>
        </div>
    </div>
    <div id="row1" class="row animated fadeInDown">
        <div class="col-sm-5" id="left">
            <div class="list-group">
                <div class="list-group-item list-group-item-action"><img id="pavatar" src="assets/png/beyonce_200x200.png" alt="avatar here"><a href="">Beyonce</a>
                <button class="btn btn-outline-danger btn-sm">Unsubscribe</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('row1')" id="hideBtn">Hide</button>
                </div>
            </div>
        </div>
        <div class="col-sm-7" id="right">
            <div class="list-group" id="feed">
                <div id="post1" class="list-group-item list-group-item-action">Cras justo odio<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post1')" id="hideBtn">Hide</button></div>
                <div id="post2" class="list-group-item list-group-item-action">Morbi leo risus<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post2')" id="hideBtn">Hide</button></div>
            </div>
        </div>
    </div>
    
    <div id="row2" class="row animated fadeInDown">
        <div class="col-sm-5" id="left">
            <div class="list-group">
                <div class="list-group-item list-group-item-action"><img id="pavatar" src="assets/png/kanye_200x200.png" alt="avatar here"><a href="">Kanye West</a>
                <button class="btn btn-outline-danger btn-sm">Unsubscribe</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('row2')" id="hideBtn">Hide</button>
                </div>
            </div>
        </div>
        <div class="col-sm-7" id="right">
            <div class="list-group" id="feed">
                <div id="post3" class="list-group-item list-group-item-action">Dapibus ac facilisis in<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post3')" id="hideBtn">Hide</button></div>
                <div id="post4" class="list-group-item list-group-item-action">Cras justo odio<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post4')" id="hideBtn">Hide</button></div>
                <div id="post5" class="list-group-item list-group-item-action">Dapibus ac facilisis in<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post5')" id="hideBtn">Hide</button></div>
                <div id="post6" class="list-group-item list-group-item-action">Morbi leo risus<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post6')" id="hideBtn">Hide</button></div>
            </div>
        </div>
    </div>

    <div id="row3" class="row animated fadeInDown">
        <div class="col-sm-5" id="left">
            <div class="list-group">
                <div class="list-group-item list-group-item-action"><img id="pavatar" src="assets/png/holyfield_200x200.png" alt="avatar here"><a href="">Evander Holyfield</a>
                <button class="btn btn-outline-danger btn-sm">Unsubscribe</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('row3')" id="hideBtn">Hide</button>
                </div>
            </div>
        </div>
        <div class="col-sm-7" id="right">
            <div class="list-group" id="feed">
                <div id="post7" class="list-group-item list-group-item-action">Cras justo odio<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post7')" id="hideBtn">Hide</button></div>
            </div>
        </div>
    </div>

    <div id="row4" class="row animated fadeInDown">
        <div class="col-sm-5" id="left">
            <div class="list-group">
                <div class="list-group-item list-group-item-action"><img id="pavatar" src="assets/png/rdj_200x200.png" alt="avatar here"><a href="">Robert Downey Jr</a>
                <button class="btn btn-outline-danger btn-sm">Unsubscribe</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('row4')" id="hideBtn">Hide</button>
                </div>
            </div>
        </div>
        <div class="col-sm-7" id="right">
            <div class="list-group" id="feed">
                <div id="post8" class="list-group-item list-group-item-action">Morbi leo risus<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post8')" id="hideBtn">Hide</button></div>
                <div id="post9" class="list-group-item list-group-item-action">Dapibus ac facilisis in<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post9')" id="hideBtn">Hide</button></div>
                <div id="post10" class="list-group-item list-group-item-action">Cras justo odio<button class="btn btn-outline-info btn-sm">Show More</button><button class="btn btn-outline-secondary btn-sm" (click)="hide('post10')" id="hideBtn">Hide</button></div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container outerContainer justify-content-around">
  <cdk-virtual-scroll-viewport itemSize="100">
    <button (click)="addNote()" class="btn btn-success float-right mr-5 mt-3">New Note</button>


    <li [ngStyle]="{'background-color': note.color}" (click)=displayId(i) *cdkVirtualFor="let note of notes | async; let i = index; trackBy: trackByIdx"
      class="animated flipInX sticky">
      <div class="container-fluid d-flex">
        <div class="row stickyRow d-block">
          <div class="dropdown float-right mr-2 mt-2 colorIcon">
            <i class="fas fa-bars fa-2x"></i>
            <div class="dropdown-content">
              <a class="dropdown-item colorOption" (click)="changeColor(i, 'lightcoral')" id='redSelector'></a>
              <a class="dropdown-item colorOption" (click)="changeColor(i, 'cadetblue')" id='blueSelector'></a>
              <a class="dropdown-item colorOption" (click)="changeColor(i, 'yellow')" id='yellowSelector'></a>
              <a class="dropdown-item colorOption" (click)="changeColor(i, 'lightgreen')" id='greenSelector'></a>
              <a class="dropdown-item colorOption" (click)="changeColor(i, 'pink')" id='pinkSelector'></a>
            </div>

          </div>
          <h4 class="titleInput">
            <input type="text" (blur)="updateNote(i, note)" [(ngModel)]="note.title" class="editable " [ngStyle]="{'background-color': note.color}"
              placeholder="Title">
          </h4>

          <div class="mt-5 ml-2" id="noteDiv" contenteditable="true" (input)="note.note=$event.target.textContent"
            [textContent]="note.note" (blur)="updateNote(i, note)">
            {{note.note}}
          </div>
            <br/>
            <br/>
            
          <div class="float-right stickyDate">{{note.stickydate | date:'short'}}</div>
          <i (click)=deleteNote(i) class="fas fa-trash-alt fa-2x mt-3 ml-2"></i>

        </div>
      </div>
    </li>

  </cdk-virtual-scroll-viewport>
</div>


<!-- Actual code -->
<!--
<div id="container" class="container">
    <h1 class="jumbotron jumbotron-fluid">Content From Your Subscriptions</h1>
    <div id="header" class="row">
        <div class="col-sm-5" id="left">
            <h3>Personality</h3>
        </div>
        <div class="col-sm-7" id="right">
            <h3>Feed</h3>
        </div>
    </div>

    <div id="feed">
        <table>
            <tr>
                <th>Personality</th>
                <th>Feed</th>
            </tr>
            <tr *ngFor="let item of items">
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div id="nodata" class=".container-fluid">
        <p>You have no content in your feed.</p>
    </div>
</div>
-->