button{
    background-color:skyblue;
    float:right;
}
img#pavatar{
    height: 15%;
    width: 15%;
}
h1{
    text-align: center;
}
.list-group-item,a{
    background-color: darkblue;
    color:greenyellow;
}
h1,div#container{
    background-color: black;
    color: greenyellow;
}