button{
    float:right;
}
img#pavatar{
    height: 15%;
    width: 15%;
}
h1{
    text-align: center;
}
*:hover{
    box-shadow: 0px 2px 2px 2px dimgray;
}
div#container{
    box-shadow: 0px 0px 0px 0px dimgray;
}
.row,div#left,div#right,h1,{
    box-shadow: 0px 0px 0px 0px dimgray;    
}