<!-- Background image -->
<div id="page"></div>

<!-- First set of image links -->
<span class="animated fadeInDown" id="content" style="position: relative; width: 100%; height: 20%;">
  <a href="https://www.livenation.com" style="position: relative; float:left; width:25%;">
    <img id="i1" src="https://media.globalcitizen.org/46/a7/46a7efc6-3eb2-491d-82af-258a24b315f6/ln_newlogo_fanman_blackborder_1.png" alt="pic" height="100%"
      width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Live Nation</span>
  </a>
  <a href="https://lawnpass.livenation.com/" style="position: relative; float:left; width:25%;">
    <img id="i2" src="https://lawnpass.livenation.com/share_1200x630.jpg"
      alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Purchase the Lawn Pass</span>
  </a>
  <a href="https://www.livenationentertainment.com/" style="position: relative; float:left; width:25%;">
    <img id="i3" src="http://photos.prnewswire.com/prnfull/20100603/LA14899LOGO?max=800" alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Live Nation Entertainment</span>
  </a>
  <a href="https://twitter.com/LiveNation?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" style="position: relative; float:left; width:25%;">
    <img id="i2" src="https://pbs.twimg.com/profile_images/883086632764678144/qaAbnTu9_400x400.jpg"
      alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Twitter</span>
  </a>
</span>

<!-- Below line separates page styling to prevent issues -->
<div style="clear:both;"></div>

<!-- Welcome text -->
<span class="animated fadeInDown" style="position:relative; text-align: center; color:black"><br>
  <h1>Live Nation</h1><br>
  <p>Welcome to your ticket to the next-gen concert experience.</p>
</span>

<!-- Video - hidden -->
<!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/OMaHyZmbqdc?autoplay=1&loop=1" allow="autoplay; encrypted-media"></iframe>
<div style="clear:both;"></div> -->