<div *ngIf="auth.uid == uidParam" class="text-center mt-3 animated fadeInDown">
  <button mat-raised-button (click)="openDialog()" class="primary-btn">Add Product</button>
</div>


<cdk-virtual-scroll-viewport itemSize="autosize" class="">
  <li *cdkVirtualFor="let post of products; let i = index; trackBy: trackByIdx"
      class="container feedPost align-items-end mx-auto">

    <div class="row text-center">
      <div class="col-3">
      </div>
      <div class="col-6">
        <span id='profileName' class="">
          {{post.title}}
        </span>
      </div>

      <div class="col-3" style="font-size: 12px;">
        <span class="float-right">
          ${{post.price}}
        </span>
      </div>

    </div>

    <div class="row mt-3 text-center">
      <div class="col-12">
        <p>Description and details of the product to purchase.</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col d-flex mx-auto justify-content-center">
        <img src={{post.img}} class="" style="width: auto;
                            max-width: 300px;
                            height: auto;
                            max-height: 150px;">
      </div>
    </div>

    <div class="row mt-4 mb-0 mx-auto">
      <div class="col-4 mx-auto text-center">
        <a style="cursor: pointer" (click)="addProductToCart(post)" class="">Add To Cart <i class="fas fa-plus fa-1x"></i></a>
      </div>

      <div class="col-4 mx-auto text-center">
      </div>

      <div class="col-4 mx-auto text-center">
        <a *ngIf="auth.uid == uidParam" class="" style="cursor: pointer;" (click)="deleteProduct(post.id)">Delete <i class="fas fa-trash-alt fa-1x"></i></a>
      </div>
    </div>
  </li>
</cdk-virtual-scroll-viewport>
