/* Angular material */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.example-spacer {
  flex: 1 1 auto;
}

.example-card{
    margin-top: 4px;
}

.example-header-image { 
  background-size: cover;
}

.img-article{
    height: 350px;
}

.action-buttons{
    text-align: center;
}
    
.example-container {
    width: 100%;
    height: auto;
    border: 1px solid rgba(111, 111, 111, 0.50);
}
  
.example-sidenav-content {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
}
  
.example-sidenav {
    padding: 20px;
}

.source-name {
    margin-left:5px; 
}

.list-item:hover{
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
}
/* End material css */

div#page{
    width:100%;
    z-index: -1;
}
span{
    color: white;
    position: absolute;
}
a.animated{
    padding: 10px 10px 10px 10px;
}
h5{
    color: white;
}
div#video{
    position: relative;
    float: right; 
    width: 66%; 
    height:500px;
    min-height:40%; 
    max-height:50%; 
    margin-left: 2%; 
    margin-right: 2%;
    margin-bottom: 2%;
}
#undervideo{
    color: white;
    position: relative;
    float: right;
    width: 96%;
    background-color: #363636;
    border: 2px 2px 2px 2px #da4453;
    border-style: solid;
    text-align: center;
    overflow: auto;
    margin-left: 2%; 
    margin-right: 2%;
    max-height: 500px;
}
tr,td,th{
    border: 1px solid;
    border-style: solid;
    border-collapse: collapse;
}
div#sidevideo{
    color: white;
    position: relative;
    float: left;
    width: 28%;
    left: 2%;
    max-height: 500px;
    background-color: #363636;
    border: 2px 2px 2px 2px #da4453;
    border-style: solid;
    text-align: center;
    overflow: auto;
    margin-bottom: 2%;
}
a#item{
    color: white;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #363636;
    width: 100%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    transition: 0.3s;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* Style the tab */
.tab2 {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #363636;
    width: 96%;
    margin-left: 2%; 
    margin-right: 2%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    transition: 0.3s;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab2 button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab2 button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent2 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  