div#page{
    width:100%;
    z-index: -1;
}
span{
    color: white;
    position: absolute;
}
span#hvrtxt{
    color:indigo;
    text-shadow: 2px 2px red;
    font-size: 22px;
    left: 2%;
}
a.animated,span#hvrtxt{
    padding: 10px 10px 10px 10px;
}
h5{
    color: white;
}
div#item-container{
    padding: 10px 10px 10px 10px;
    border-bottom: 2px #da4453;
    border-top: 2px #da4453;
    border-style: solid;
    border-collapse: collapse;
    max-width: 100%;
}
img#item-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div#video{
    position: relative;
    float: right; 
    width: 66%; 
    height:500px;
    min-height:40%; 
    max-height:50%; 
    margin-left: 2%; 
    margin-right: 2%;
    margin-bottom: 2%;
}
#undervideo{
    color: white;
    position: relative;
    float: right;
    width: 96%;
    background-color: #363636;
    border: 2px 2px 2px 2px #da4453;
    border-style: solid;
    text-align: center;
    overflow: auto;
    margin-left: 2%; 
    margin-right: 2%;
    max-height: 500px;
}
tr,td,th{
    border: 1px solid;
    border-style: solid;
    border-collapse: collapse;
}
div#sidevideo{
    color: white;
    position: relative;
    float: left;
    width: 28%;
    left: 2%;
    max-height: 500px;
    background-color: #363636;
    border: 2px 2px 2px 2px #da4453;
    border-style: solid;
    text-align: center;
    overflow: auto;
    margin-bottom: 2%;
}
a#item{
    color: white;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #363636;
    width: 100%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    transition: 0.3s;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* Style the tab */
.tab2 {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #363636;
    width: 100%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    transition: 0.3s;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab2 button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab2 button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent2 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }