<!-- Background image -->
<div id="page">

  <!-- Nav bar links -->
  <ul class="nav nav-pills nav-fill animated fadeInDown" style="position: relative; height: 20%; background-color: #363636">
    <li class="nav-item" *ngFor="let navItem of navList">
      <a class="nav-link" href="{{navItem.href}}"><img src="{{navItem.image}}" alt="image failed to load" height="40px">
        <div>{{navItem.text}}</div>
      </a>
    </li>
  </ul>

  <!-- Below line separates page styling to prevent issues -->
  <div style="clear:both;"></div>

  <!-- Welcome text -->
  <span style="overflow:hidden; position:relative; text-align: center; color:black;"><br>
    <h1 class="animated bounceIn">
      <div id="title"></div> <button class="btn btn-success" id="subbtn" (click)="subscribe('name')">Subscribe
        | +</button>
    </h1><br>
  </span>

  <!-- Below line separates page styling to prevent issues -->
  <div style="clear:both;"></div>

  <!-- Video -->
  <div id="video">
    <iframe id="videoframe" class="animated bounceIn" width="100%" height="100%" src="" allow="autoplay; encrypted-media"></iframe>
  </div>

  <!-- Container beside video -->
  <div class="animated bounceIn" id="sidevideo">
    <div class="tab">
      <button id="fbbtn" class="tablinks" (click)="tabby(event, 'Facebook')">Facebook</button>
      <button id="twitterbtn" class="tablinks" (click)="tabby(event, 'Twitter')">Twitter</button>
      <button class="tablinks" (click)="tabby(event, '')">X</button>
    </div>
    <!-- Facebook API -->
    <div id="Facebook" class="tabcontent" style="width: 100%">
      <div>Facebook API</div>
      <div #fb id="fb" style="width: 100%" class="fb-page" data-tabs="timeline,events,messages" data-href=""
        data-hide-cover="false"></div>
    </div>
    <!-- Twitter API -->
    <div id="Twitter" class="tabcontent" style="width: 100%">
      <a #twitter ng-include id="twitter" class="twitter-timeline" data-theme="dark" href="">Tweets</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <!-- Container under video -->
  <div class="animated bounceIn" id="undervideo">
    <div class="tab2">
      <button id="featuredbtn" class="tablinks2" (click)="tabby2(event, 'FeaturedTab')">Featured</button>
      <button id="shopbtn" class="tablinks2" (click)="tabby2(event, 'ShopTab')">Shop</button>
      <button id="newsbtn" class="tablinks2" (click)="tabby2(event, 'NewsTab')">News</button>
      <button id="aboutbtn" class="tablinks2" (click)="tabby2(event, 'AboutTab')">About</button>
      <button id="calendarbtn" class="tablinks2" (click)="tabby2(event, 'CalendarTab')">Calendar and Events</button>
      <button class="tablinks2" (click)="tabby2(event, '')">X</button>
    </div>
    <!-- Featured -->
    <div id="FeaturedTab" class="tabcontent2" style="width:100%; overflow:auto;">
      <div style="text-align: center;">Featured Artists</div>
      <table class="animated bounceIn" id="featured">
        <tr>
          <th>Name</th>
          <td *ngFor="let feature of featuredList">{{feature.name}}</td>
        </tr>
        <tr>
          <th>Image</th>
          <td *ngFor="let feature of featuredList">
            <img src="{{feature.image}}" alt="image failed to load" style="height:200px;">
          </td>
        </tr>
      </table>
    </div>
    <!-- Shop -->
    <div id="ShopTab" class="tabcontent2" style="width: 100%; overflow: auto;">
      <div style="text-align: center;">Shop</div>
      <table class="animated bounceIn" id="shop">
        <tr>
          <th>Name</th>
          <td *ngFor="let product of shopList">{{product.name}}</td>
        </tr>
        <tr>
          <th>Image</th>
          <td *ngFor="let product of shopList">
            <img src="{{product.image}}" alt="image failed to load" style="height:200px;">
          </td>
        </tr>
        <tr>
          <th>Price</th>
          <td *ngFor="let product of shopList">{{product.price}} <button class="btn btn-success sm" id="buy" (click)="purchase(id)">Purchase</button>
          </td>
        </tr>
      </table>
    </div>

    <!-- News -->
    <div id="NewsTab" class="tabcontent2" style="margin-left:20%; margin-right: 20%; width: 60%; overflow: auto;">
      <!-- <mat-toolbar color="primary">
        <button mat-button (click)="sidenav.open ()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>News Headlines</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="appMenu">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-toolbar>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item> Settings </button>
        <button mat-menu-item> Help </button>
      </mat-menu> -->
      <mat-sidenav-container class="example-container">
        <!-- <mat-sidenav #sidenav class="example-sidenav">
          <mat-list class="list-nav">
            <mat-list-item class="list-item" *ngFor="let source of mSources" (click)="searchArticles(source.id);sidenav.close();">
              <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ source.id +'.png)'}" class="example-header-image"></div>
              <span class="source-name"> {{source.name}}</span>
            </mat-list-item>
          </mat-list>
        </mat-sidenav> -->
        <mat-card class="example-card" *ngFor="let article of mArticles">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}"
              class="example-header-image"></div>
            <mat-card-title class="title">{{article.title}}</mat-card-title>
            <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
          <mat-card-content>
            <p>
              {{article.description}}
            </p>
          </mat-card-content>
          <mat-card-actions class="action-buttons">
            <button mat-button color="primary">
              <mat-icon>thumb_up_alt</mat-icon> 12 Likes
            </button>
            <button mat-button color="primary">
              <mat-icon>comment</mat-icon> Comments
            </button>
            <button mat-button color="primary">
              <mat-icon>share</mat-icon> Share
            </button>
            <a mat-button color="primary" href={{article.url}} target="_blank">
              <mat-icon>visibility</mat-icon> More
            </a>
          </mat-card-actions>
        </mat-card>
      </mat-sidenav-container>
    </div>

    <!-- About -->
    <div id="AboutTab" class="tabcontent2" style="width: 100%; overflow: auto;">
      <!-- Placeholder using About us page. Not intended to stay. -->
      <about></about>
    </div>

    <!-- Calendar -->
    <div id="CalendarTab" class="tabcontent2" style="width: 100%; overflow: auto;">
      <calendar></calendar>
    </div>
  </div>

  <!-- Below line separates page styling to prevent issues. Forces footer down. -->
  <div style="clear:both;"></div>

</div>