<!-- Background image -->
<div id="page">

  <!-- Nav bar links -->
  <ul class="nav nav-pills nav-fill animated fadeInDown" style="position: relative; height: 20%; background-color: #363636">
    <li class="nav-item" *ngFor="let navItem of navList">
      <a class="nav-link" href="{{navItem.href}}"><img src="{{navItem.image}}" alt="image failed to load" height="40px"><div>{{navItem.text}}</div></a>
    </li>
  </ul>

  <!-- Below line separates page styling to prevent issues -->
  <div style="clear:both;"></div>

  <!-- Welcome text -->
  <span style="overflow:hidden; position:relative; text-align: center; color:black;"><br>
    <h1 class="animated bounceIn">
      <div id="title"></div> <button class="btn btn-success" id="subbtn" (click)="subscribe('name')">Subscribe
        | +</button>
    </h1><br>
  </span>

  <!-- Below line separates page styling to prevent issues -->
  <div style="clear:both;"></div>

  <!-- Video -->
  <div id="video">
    <iframe id="videoframe" class="animated bounceIn" width="100%" height="100%" src="" allow="autoplay; encrypted-media"></iframe>
  </div>

  <!-- Container beside video -->
  <div class="animated bounceIn" id="sidevideo">
    <div class="tab">
      <button id="fbbtn" class="tablinks" (click)="tabby(event, 'Facebook')">Facebook</button>
      <button id="twitterbtn" class="tablinks" (click)="tabby(event, 'Twitter')">Twitter</button>
      <button class="tablinks" (click)="tabby(event, '')">X</button>
    </div>
    <!-- Facebook API -->
    <div id="Facebook" class="tabcontent" style="width: 100%">
      <div>Facebook API</div>
      <div #fb id="fb" style="width: 100%" class="fb-page" data-tabs="timeline,events,messages" data-href=""
        data-hide-cover="false"></div>
    </div>
    <!-- Twitter API -->
    <div id="Twitter" class="tabcontent" style="width: 100%">
      <a #twitter ng-include id="twitter" class="twitter-timeline" data-theme="dark" href="">Tweets</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <!-- Container under video -->
  <div class="animated bounceIn" id="undervideo">
    <div class="tab">
      <button id="shopbtn" class="tablinks" (click)="tabby(event, 'ShopTab')">Shop</button>
      <button id="newsbtn" class="tablinks" (click)="tabby(event, 'NewsTab')">News</button>
      <button id="eventssbtn" class="tablinks" (click)="tabby(event, 'EventsTab')">Events</button>
      <button id="calendarbtn" class="tablinks" (click)="tabby(event, 'CalendarTab')">Calendar</button>
      <button class="tablinks" (click)="tabby(event, '')">X</button>
    </div>
    <!-- Shop -->
    <div id="ShopTab" class="tabcontent" style="width: 100%; overflow: auto;">
      <div style="text-align: center;">Shop</div>
      <table class="animated bounceIn" id="shop">
          <tr>
            <th>Name and Price</th>
            <td *ngFor="let product of shopList">{{product.name}} - {{product.price}}</td>
          </tr>
          <tr>
            <th>Image</th>
            <td *ngFor="let product of shopList">
              <img src="{{product.image}}" alt="image failed to load" style="height:100px;">
            </td>
          </tr>
        </table>
    </div>
    <!-- News -->
    <div id="NewsTab" class="tabcontent" style="width: 100%; overflow: auto;">
      
    </div>
    <!-- Events -->
    <div id="EventsTab" class="tabcontent" style="width: 100%; overflow: auto;">

    </div>
    <!-- Calendar -->
    <div id="CalendarTab" class="tabcontent" style="width: 100%; overflow: auto;">

    </div>
  </div>
  
  <!-- Below line separates page styling to prevent issues. Forces footer down. -->
  <div style="clear:both;"></div>

</div>