div#page{
    width:100%;
    min-height: 1200px;
    max-height: 4000px;
    opacity: .2;
    background-image: url("https://icc-static-files.s3.amazonaws.com/ICC/photo/2018/08/24/01d9e9d0-61d3-4836-bdcb-8c05296c6dd8/GettyImages-977007372.jpg");
    background-repeat: round;
    position: absolute;
}
iframe{
    display: none;
    height:100%;
    width: 100%;
}
img#bg{
    opacity: .2;
    width:100%;
    height: auto;
    position: absolute; 
    z-index: -1;
}
div#textSpace{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
span{
    color: white;
    position: absolute;
}
span#hvrtxt{
    color:indigo;
    text-shadow: 2px 2px red;
    font-size: 22px;
}
a,span#hvrtxt{
    padding: 10px 10px 10px 10px;
}