<!-- Background image -->
<div id="page"></div>

<!-- First set of image links -->
<span class="animated fadeInDown" id="content" style="position: relative; width: 100%; height: 20%;">
  <a href="https://www.icc-cricket.com/" style="position: relative; float:left; width:25%;">
    <img id="i1" src="https://www.icc-cricket.com/resources/ver/i/elements/default-thumbnail.jpg" alt="pic" height="100%"
      width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">ICC</span>
  </a>
  <a href="https://www.icc-cricket.com/rankings/mens/overview" style="position: relative; float:left; width:25%;">
    <img id="i2" src="https://statics.sportskeeda.com/editor/2019/01/98a97-15475734494968-500.jpg"
      alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Statistics</span>
  </a>
  <a href="https://www.icc-cricket.com/news" style="position: relative; float:left; width:25%;">
    <img id="i3" src="https://icc-static-files.s3.amazonaws.com/ICC/photo/2019/01/22/e29f95c4-ea92-4df9-b816-754c61d0752d/GettyImages-1031266084.jpg" alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">News</span>
  </a>
  <a href="https://www.icc-cricket.com/tickets/apply-for-tickets" style="position: relative; float:left; width:25%;">
    <img id="i2" src="https://i.emlfiles.com/cmpimg/6/2/9/9/6/files/10212133_areyouin.png"
      alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Purchase Tickets</span>
  </a>
</span>

<!-- Below line separates page styling to prevent issues -->
<div style="clear:both;"></div>

<!-- Welcome text -->
<span class="animated fadeInDown" style="position:relative; text-align: center; color:black"><br>
  <h1>Cricket/ICC</h1><br>
</span>
