#page{
    width:100%;
    overflow: hidden;
    height: 40rem;
    background-image: url('/assets/nascar.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
}

/* #gif {
    background-image: url("/assets/O2st.gif");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position:center;
    width: 40rem;
    height: 13rem;
    margin: 0 auto;
    z-index: 100;
    position: absolute;
} */
iframe{
    display: block;
}
img#bg{
    width:100%;
    height: auto;
}
div#textSpace{
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
h1{
    opacity:.5;
    color: black;
}