<header id="masthead" class="site-header" role="banner">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <div class="site-navigation-inner col-sm-12">
          <div class="navbar-header">
            <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div id="logo">
              <h1 class="site-name"> <a class="navbar-brand" title="Sparkling" rel="home">Categories</a>
              </h1> </div>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse"><ul id="menu-top" class="nav navbar-nav">
            <li id="menu-item-1773" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1773 active"><a href="#">Sports</a></li>
            <li id="menu-item-1800" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1800"><a href="#">Musicians</a></li>
            <li id="menu-item-2024" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2024"><a href="#">Actors</a></li>
            <li id="menu-item-1911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1911"><a href="#">Technology</a></li>
            <li id="menu-item-2049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2049"><a title="Shop" href="#">Business</a></li>
          </ul></div> </div>
      </div>
    </div>
  </nav>
</header>
