<!-- Background image -->
<div id="page"></div>

<!-- <img id="bg" src="https://upload.wikimedia.org/wikipedia/en/f/f4/Middletown_High_School_North_Hall.jpg"
    alt="failed to load bg"> -->

<!-- First set of image links -->
<span class="animated fadeInDown" id="content" style="position: relative; width: 100%; height: 20%;">
  <a href="https://www.collegesimply.com/colleges/" style="position: relative; float:left; width:25%;">
    <img id="i1" src="https://www.economist.com/sites/default/files/20170812_BLP522_google_now.png" alt="pic" height="100%"
      width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Colleges/University</span>
  </a>
  <a href="http://www.commonapp.org" style="position: relative; float:left; width:25%;">
    <img id="i2" src="https://www.commonapp.org/files/styles/707-424/public/component/step/images/common-app-why-use-ipad_0.jpg?itok=soRu0C_6"
      alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">The Common App</span>
  </a>
  <a href="https://collegestats.org/" style="position: relative; float:left; width:25%;">
    <img id="i3" src="https://www.bls.gov/spotlight/2010/college/images/figure_ncs.png" alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">College Statistics</span>
  </a>
  <a href="https://www.eventbrite.com/" style="position: relative; float:left; width:25%;">
    <img id="i2" src="http://www.bookmemphisbands.com/sites/default/files/field/image/3e6b75959ba4686e88833b4dec6eec9b.jpg"
      alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Events (Eventbrite)</span>
  </a>
</span>

<!-- Below line separates page styling to prevent issues -->
<div style="clear:both;"></div>

<!-- Welcome text -->
<span class="animated fadeInDown" style="position:relative; text-align: center; color:black"><br>
  <h1>Education</h1><br>
  <p>Welcome to the education page.</p>
</span>

<!-- Video -->
<iframe width="420" height="315" src="https://www.youtube.com/embed/OMaHyZmbqdc?autoplay=1&loop=1" allow="autoplay; encrypted-media"></iframe>
<div style="clear:both;"></div>