#page{
    width:100%;
    overflow: hidden;
    height: 90rem;
    background-image: url('/assets/Jackie_Chan.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    z-index: -1;
}
iframe{
    display: block;
}
img#bg{
    
    width:100%;
    height: auto;
}
div#textSpace{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
h1{
    opacity:.5;
    color: black;
}