<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
  <swiper class="swiper-container" *ngIf="type == 'component' && show" [userSwiperClass] fxFlex="auto" [config]="config"  [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
    <div *ngFor="let slide of business; let i of index" class="swiper-slide">
      <div class="h-100" style="width: 100%">
        <div class="row h-100" style="width: inherit; margin: 0">
          <div  [style.background-image]="'url('+slide.img+')'" class="card-container col-lg-6">
          </div>
          <div class="col-lg-6">
            <div class="row h-50">
              <div class="col-sm-6">
                row-1 col-2 row 1 col-1
              </div>
              <div class="col-sm-6">
                row-1 col-2 row 1 col-2
              </div>
            </div>
            <div class="row h-50">
              <div class="col-sm-6">
                row-1 col-2 row 2 col-1
              </div>
              <div class="col-sm-6">
                row-1 col-2 row 2 col-2
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </swiper>

  <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
    <div class="swiper-wrapper">
      <div *ngFor="let slide of business" class="swiper-slide">
        <div fxLayout="column" fxLayoutAlign="center center">
          {{slide}}
        </div>
      </div>
    </div>

    <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
    <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

    <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
    <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
  </div>
</div>
