<div id="page" style="position: relative">
  <div id="textSpace" style="background-color: black; position: relative;transform-style: preserve-3d;transition: transform 1s;">
    <h1 class="jumbotron jumbotron-fluid">Travel</h1>
    <p>Placeholder text to fill space</p>
    <img [@flyRight]='state' id="plane-left" src="../../../../assets/png/plane-left.png">
    <img [@flyMiddle]='state' id="plane-middle" src="../../../../assets/png/plane-middle.png"/>
    <img [@flyLeft]='state' id="plane-right" src="../../../../assets/png/plane-right.png"/>
  </div>
  <!--<img id="bg" src="../../../../assets/travel.jpg" alt="failed to load bg">-->

  <iframe width="420" height="315" style="display:none"
  src="https://www.youtube.com/embed/MbU4fPYRvcY?autoplay=1" allow="autoplay; encrypted-media">
  </iframe>
</div>
