#page {
  height: 30rem;
}

iframe{
    display: none;
}
/*img#bg{*/
    /*opacity: .2;*/
    /*width:100%;*/
    /*height: auto;*/
/*}*/
div#textSpace{
  overflow: hidden;
  text-align: center;
  height: inherit;
  background-image:  url('../../../../assets/vid/world.gif');
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  background-color: transparent;
    color: ghostwhite;
}
