<!-- Background image -->
<div id="page"></div>

<!-- <img id="bg" src="http://www.sswpa.org/uploads/2/2/8/5/22850408/1366325_orig.jpg"
    alt="failed to load bg"> -->

<!-- First set of image links -->
<span class="animated fadeInDown" id="content" style="position: relative; width: 100%; height: 20%;">
  <a href="http://www.apple.com" style="position: relative; float:left; width:25%;">
    <img id="i1" src="https://www.apple.com/v/music/h/images/shared/og_image.png?201811302337" alt="pic" height="100%"
      width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Apple Music</span>
  </a>
  <a href="http://www.spotify.com" style="position: relative; float:left; width:25%;">
    <img id="i2" src="http://www.scdn.co/i/_global/open-graph-default.png" alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Spotify</span>
  </a>
  <a href="http://www.elvispresley.com" style="position: relative; float:left; width:25%;">
    <img id="i3" src="https://timedotcom.files.wordpress.com/2018/06/elvis-presley-documentary-the-king.jpg" alt="pic"
      height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Elvis Presley</span>
  </a>
  <a href="http://www.cso.org" style="position: relative; float:left; width:25%;">
    <img id="i4" src="https://i.ytimg.com/vi/rOjHhS5MtvA/maxresdefault.jpg" alt="pic" height="100%" width="100%">
    <span id="hvrtxt" style="float:left; left:0%; height:100%; width: 100%;">Chicago Symphony Orchestra</span>
  </a>
</span>

<!-- Below line separates page styling to prevent issues -->
<div style="clear:both;"></div>

<!-- Welcome text -->
<span class="animated fadeInDown" style="position:relative; text-align: center; color:black"><br>
  <h1>Music</h1><br>
  <p>Welcome to the music page.</p>
</span>

<!-- Video -->
<div style="position: relative; width: 100%; height:450px; min-height: 400px; max-height:500px;">
  <!-- <iframe style="position:relative; float:left;" width="100%" height="100%" src="https://www.youtube.com/embed/wygy721nzRc?autoplay=1"
      allow="autoplay; encrypted-media"></iframe> -->
  <iframe style="position:relative; float:left;" src="https://flat-embed.com/56ae21579a127715a02901a6?layout=responsive&audioSource=&videoPosition="
    height="450" width="100%" frameBorder="0" allowfullscreen></iframe>
</div>
<div style="clear:both;"></div>