<div id="container" class="container">
    <h1 class="jumbotron jumbotron-fluid">Personality Profile</h1>
      <div id="profile" class="row">
          <div class="col-sm" id="left">
              <h3>Bio</h3>
              <ul class="list-group" id="details">
                  <li class="list-group-item"><img id="avatar" src="../../../assets/png/beyonce_200x200.png" alt="avatar here"></li>
                  <li class="list-group-item">First Name: {{user.fname}}</li>
                  <li class="list-group-item">Last Name: {{user.lname}}</li>
                  <li class="list-group-item">Email: {{user.email}}</li>
              </ul>
              <br>
              <h3>Friends List</h3>
              <div class="list-group" id="friends">
                      <a href="#" class="list-group-item list-group-item-action"><img id="favatar" src="../../../assets/png/cruise_200x200.png" alt="avatar here"> Tom Cruise</a>
                      <a href="#" class="list-group-item list-group-item-action"><img id="favatar" src="../../../assets/png/kanye_200x200.png" alt="avatar here"> Kanye West</a>
                      <a href="#" class="list-group-item list-group-item-action"><img id="favatar" src="../../../assets/png/Willem_Dafoe_200x200.png" alt="avatar here"> Willem Dafoe</a>
              </div>
          </div>
          <div class="col-sm-7" id="mid">
              <h3>Posts</h3>
              <div class="list-group" id="posts">
                  <div id="post1" class="list-group-item list-group-item-action">Cras justo odio<button class="btn btn-outline-danger" (click)="deletePost('post1')" id="deleteBtn">Delete Post</button></div>
                  <div id="post2" class="list-group-item list-group-item-action">Dapibus ac facilisis in<button class="btn btn-outline-danger" (click)="deletePost('post2')" id="deleteBtn">Delete Post</button></div>
                  <div id="post3" class="list-group-item list-group-item-action">Morbi leo risus<button class="btn btn-outline-danger" (click)="deletePost('post3')" id="deleteBtn">Delete Post</button></div>
                  <div id="post4" class="list-group-item list-group-item-action">Porta ac consectetur ac<button class="btn btn-outline-danger" (click)="deletePost('post4')" id="deleteBtn">Delete Post</button></div>
                  <div id="post5" class="list-group-item list-group-item-action">Vestibulum at eros<button class="btn btn-outline-danger" (click)="deletePost('post5')" id="deleteBtn">Delete Post</button></div>
                  <div id="post6" class="list-group-item list-group-item-action">Cras justo odio<button class="btn btn-outline-danger" (click)="deletePost('post6')" id="deleteBtn">Delete Post</button></div>
                  <div id="post7" class="list-group-item list-group-item-action">Dapibus ac facilisis in<button class="btn btn-outline-danger" (click)="deletePost('post7')" id="deleteBtn">Delete Post</button></div>
                  <div id="post8" class="list-group-item list-group-item-action">Morbi leo risus<button class="btn btn-outline-danger" (click)="deletePost('post8')" id="deleteBtn">Delete Post</button></div>
                  <div id="post9" class="list-group-item list-group-item-action">Porta ac consectetur ac<button class="btn btn-outline-danger" (click)="deletePost('post9')" id="deleteBtn">Delete Post</button></div>
                  <div id="post10" class="list-group-item list-group-item-action">Vestibulum at eros<button class="btn btn-outline-danger" (click)="deletePost('post10')" id="deleteBtn">Delete Post</button></div>
              </div>
          </div>
          <div class="col-sm" id="right">
              <h3>Subscriptions</h3>
              <div class="list-group" id="sublist">
                  <a href="#" class="list-group-item list-group-item-action"><img id="pavatar" src="../../../assets/png/rdj_200x200.png" alt="avatar here"> Robert Downey Jr.</a>
              </div>
          </div>
      </div>
      <div id="editBlock" class="card" style="width: 18rem; display:none;">
          <img src="../../../assets/png/beyonce_200x200.png" class="card-img-top" alt="avatar here">
              <div class="card-body">
                  <h5 class="card-title">Editing Profile</h5>
                  <p class="card-text">First Name: <input type="text" value={{user.fname}} id="edit-fname" /></p>
                  <p class="card-text">Last Name: <input type="text" value={{user.lname}} id="edit-lname"/></p>
                  <p class="card-text">Email: <input type="text" value={{user.email}} id="edit-email"/></p>
                  <button (click)="edit()">Submit</button>
              </div>
      </div>
  </div>
  