<div class="ct row">
  <div class="col-2">
    <div class="container">
      <button mat-raised-button (click)="openDialog()" class="primary-btn">Add Product</button>
    </div>
  </div>
  <div class=" scroll col-10">
    <div class="row">
      <div *ngFor="let product of products" class="col-12">
        <div class="card mb-1 mt-3" style="width: 18rem;">
          <img class="card-img-top" src="{{product.img}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer text-muted">
            ${{product.price}}
            <button mat-button (click)="addProductToCart(product)" class="secondary-btn float-right">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

