/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~swiper/dist/css/swiper.min.css';

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}
