#container {
    align-items: center;
    align-content: center;
    text-align: center;
}


#user-data td input.ng-invalid.ng-touched {
    background-color: coral;
}

#user-data,
#card-data {
    margin:1em auto;
}

#user-data td,
#card-data td {
    width: 150px;
    border-bottom: 1px solid darkgray;
}

#user-data td input,
#card-data td input#norm {
    width: 50%;
}

#card-data td #exmonth,
#card-data td #exyear {
    width: 15%;
}

@media (min-width: 350px)
{
    #user-data td,
    #card-data td {
        width: 30%;
    }
}