<div id="container">
    <h1>Registration</h1>
    <form action="register(email,password)" method="POST">
      <h2>User Details</h2>
      First Name: <input type="text" id="fname" placeholder=""/><br>
      Last Name: <input type="text" id="lname" placeholder=""/><br>
      Display Name: <input type="text" id="dname" placeholder=""/><br>
      Email: <input type="text" id="email" placeholder=""/><br>
      Password: <input type="text" id="pw" placeholder=""/><br>
      Confirm Password: <input type="text" id="cpw" placeholder=""/><br>
      <br>
      <h2>Card Information</h2>
      Card Number: <input type="text" id="cardnum" placeholder=""/><br>
      Expiration Date: 
      <select id="exmonth">
        <option value=1 selected>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
        <option value=11>11</option>
        <option value=12>12</option>
      </select>
      <input type="number" id="exyear" placeholder="yy"/>
      CVV: <input type="number" id="cvv" placeholder=""/><br>
      Captcha: <br>
      <input type="submit" value="Submit"/><br>
      <input type="reset" value="Reset"/><br>
    </form>
  </div>