<div class="container" id="container">
    <h1 class="jumbotron jumbotron-fluid animated bounceIn">Registration</h1>
    <form [formGroup]="userFormData" (ngSubmit)="register()" method="POST" class="animated fadeInLeft">
      <h2>User Details</h2>
        <mat-form-field>
          <input matInput type="text" id="fname" formControlName="fname" placeholder="First Name"/>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput type="text" id="lname" formControlName="lname" placeholder="Last Name"/>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput type="email" id="email" formControlName="email" placeholder="Email Address"/>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput type="password" id="password" formControlName="password" placeholder="Password"/>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password"/>
        </mat-form-field>
      <br>
      <h2>Card Information</h2>
      <mat-form-field>
        <input matInput id="norm" type="text" id="cardnum" placeholder="Card Number"/>
      </mat-form-field><br>
      <mat-form-field>
          <!-- <mat-select label="Month" id="exmonth" placeholder="Month" >
            <mat-option value=1 selected>1</mat-option>
            <mat-option value=2>2</mat-option>
            <mat-option value=3>3</mat-option>
            <mat-option value=4>4</mat-option>
            <mat-option value=5>5</mat-option>
            <mat-option value=6>6</mat-option>
            <mat-option value=7>7</mat-option>
            <mat-option value=8>8</mat-option>
            <mat-option value=9>9</mat-option>
            <mat-option value=10>10</mat-option>
            <mat-option value=11>11</mat-option>
            <mat-option value=12>12</mat-option>
          </mat-select> -->
          <input matInput type="number" id="exmonth" placeholder="Exp Month (mm)"/>
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" id="exyear" placeholder="Exp Year (yyyy)">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput id="norm" type="number" id="cvv" placeholder="CVV"/>
      </mat-form-field>
      <br><br>
      <button mat-raised-button id="controlBtn submit" type="submit" value="Submit" style="width: 75px; background-color: rgb(42, 180, 134);">Submit</button>
      <button mat-raised-button id="controlBtn reset" type="reset" value="Reset" style="width: 75px;">Reset</button> <br>
    </form>
  </div>
