<div id="container">
    <h1>Registration</h1>
    <form action="" method="POST">
      <h2>User Details</h2>
      First Name: <input type="text" name="fname" placeholder=""/><br>
      Last Name: <input type="text" name="lname" placeholder=""/><br>
      Display Name: <input type="text" name="dname" placeholder=""/><br>
      Email: <input type="text" name="email" placeholder=""/><br>
      Password: <input type="text" name="pw" placeholder=""/><br>
      Confirm Password: <input type="text" name="cpw" placeholder=""/><br>
      <br>
      <h2>Card Information</h2>
      Card Number: <input type="text" name="cardnum" placeholder=""/><br>
      Expiration Date: <input type="number" name="exmonth" placeholder="mm"/><input type="number" name="exyear" placeholder="yy"/>
      CVV: <input type="number" name="cvv" placeholder=""/><br>
      Captcha: <br>
      <input type="submit" value="Submit"/><br>
      <input type="reset" value="Reset"/><br>
    </form>
  </div>