<mat-toolbar>
  <mat-form-field>
    <mat-select (selectionChange)="changeCategory()" [(value)]="selected" placeholder="Select Category">
      <mat-option *ngFor="let cat of categories" [value]="cat.value">
        {{cat.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<mat-grid-list class="container" #grid [cols]="cols" gutterSize="16px">
  <mat-grid-tile class="flip-card" *ngFor="let item of data; let i of index;" [ngStyle]="{'width': cardFillIndex == item.uid ? '100%': null}">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <button mat-raised-button="" *ngIf="cardFillIndex === item.uid" class="bt-left" (click)="onClick(item.uid)">close</button>
          <img src="{{item.image}}" class="logo">
        </div>
        <div class="flip-card-back" cc>
          <subscribe-btn class="secondary-btn" [subscibeId]="item.uid"></subscribe-btn>
          <button mat-button class="secondary-btn" (click)="onClick(item.uid, item.image)">Details</button>
          <button mat-button *ngIf="subscriptions && containsId(item.uid)" class="secondary-btn" routerLink="/profile/{{item.uid}}">profile</button>
        </div>
      </div>
  </mat-grid-tile>
  <div class="zoomCard"
       [ngStyle]="{'background-image': 'url('+itemImage+')'}"
       [@cardZoom]="cardFillIndex ? 'end' : 'initial'">
    <button mat-raised-button class="bt-left" (click)="onClick(null, null)">close</button>
  </div>
  <!--<mat-grid-tile style="background-color: lightgray"></mat-grid-tile>-->
  <!--<mat-grid-tile style="background-color: lightgray"></mat-grid-tile>-->
  <!--<mat-grid-tile style="background-color: lightgray"></mat-grid-tile>-->
  <!--<mat-grid-tile style="background-color: lightgray"></mat-grid-tile>-->
  <!--<mat-grid-tile style="background-color: lightgray"></mat-grid-tile>-->
  <!--<mat-grid-tile style="background-color: lightgray"></mat-grid-tile>-->
  <!--<mat-grid-tile style="background-color: lightgray"></mat-grid-tile>-->
  <!--<mat-grid-tile style="background-color: lightgray"></mat-grid-tile>-->
  <!--<mat-grid-tile style="background-color: lightgray"></mat-grid-tile>-->
</mat-grid-list>
