<div class="jumbotron" id=contact style="margin-bottom: 0; border-radius: 0;">
  <div class="container">
    <div class="d-flex flex-row justify-content-around">
      <div class="p-2 bd-highlight">
        <i class="fab fa-google fa-5x"></i>
      </div>
      <div class="p-2">
        <h5>Links</h5>
        <ul>
          <a routerLink="/terms" onclick="return false">
            <li>Terms</li>
          </a>
          <a routerLink="/support" onclick="return false">
            <li>Support</li>
          </a>
          <a routerLink="/faq" onclick="return false">
            <li>FAQ</li>
          </a>
          <a routerLink="/about" onclick="return false">
            <li>About</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <span>
        <a href="https://twitter.com" target="_blank">
          <i class="fab fa-twitter fa-3x"></i> Twitter
        </a>
      </span>
      <span>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram fa-3x"></i> Instagram
        </a>
      </span>
      <span>
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fab fa-facebook fa-3x"></i> Facebook
        </a>
      </span>
      <span>
        <a href="https://www.google.com" target="_blank">
          <i class="fab fa-google fa-3x"></i> Google
        </a>
      </span>
    </div>
  </div>
