<!-- <div class="btn-group" id="container">
  <a class="btn" routerLink="/privacy" (click)='termprivate()' >Terms/Privacy</a>
  <a class="btn" routerLink="/customersupport" (click)='custsopport()'>Customer Support</a>
  <a class="btn" routerLink="/faq" (click)='faquestions()'>Frequently Asked Questions</a>
  <a class="btn" routerLink="/about" (click)= 'about()'>About Us</a>
  
</div> -->

<!-- <mat-toolbar style="background-color: sandybrown;">
  <button mat-raised-button routerLink="/terms">Terms/Privacy</button>
  <button mat-raised-button routerLink="/support">Customer Support</button>
  <button mat-raised-button routerLink="/faq">FAQ</button>
  <button mat-raised-button routerLink="/about">About Us</button>
</mat-toolbar> -->

<div style="margin-top: 1rem" class="jumbotron" id=contact>
  <h1>IPU</h1>
  <p>Put IPU's mission statement here... "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum." </p>
  <!-- <hr class="my-4 text-center"> -->
  <hr />
  <div class="container">

    <div class="d-flex flex-row justify-content-around" style="">
      <div class="p-2 bd-highlight">

        <i class="fab fa-google fa-5x"></i>
        ...Put logo here
      </div>

      <div class="p-2">
        <h5>Category 1</h5>
        <ul>
          <a routerLink="/terms" onclick="return false">
            <li>Terms</li>
          </a>
          <a routerLink="/support" onclick="return false">
            <li>Support</li>
          </a>
          <a routerLink="/faq" onclick="return false">
            <li>FAQ</li>
          </a>
          <a routerLink="/about" onclick="return false">
            <li>About</li>
          </a>
        
        </ul>
      </div>
      <!-- <div class="p-2 bd-highlight">
        <h5>Category 2</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </ul>
      </div>
      <div class="p-2 bd-highlight">

        <h5>Category 3</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </ul>
      </div>
      <div class="p-2 bd-highlight">

        <h5>Category 4</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </ul>
      </div> -->
    </div>


    <div class="d-flex flex-row justify-content-center">

      <span>
        <a href="https://twitter.com" target="_blank">
          <i class="fab fa-twitter fa-3x"></i>
        </a>
      </span>
      <span>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
      </span>
      <span>
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fab fa-facebook fa-3x"></i>
        </a>
      </span>
      <span>
        <a href="https://www.google.com" target="_blank">
          <i class="fab fa-google-plus-g fa-3x"></i>
        </a>
      </span>
    </div>

  </div>
