<div style="margin-top: 1rem" class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="center">
    <mat-card class="card-picture" *ngFor="let picture of pictures | paginate: {itemsPerPage: 3, currentPage: p}">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="" style="text-align: center">{{picture.title}}</span>
      </mat-card-title>
      <img mat-card-image [src]="picture.img">
    </mat-card>
  </div>
  <br>
  <div style="padding: 0 !important;" class = "col-12 justify-content-center">
    <pagination-controls (pageChange) = "p = $event"></pagination-controls>
  </div>
</div>
