<div id="container" style="overflow:hidden">
  <h1 class="animated bounceIn">Frequently Asked Questions</h1>
  <ol class="animated fadeInDown">
    <li>
      Question: placeholder
      <br><br>Answer: placeholder
    </li>
    <hr>
    <li>
      Question: placeholder
      <br><br>Answer: placeholder
    </li>
    <hr>
  </ol>  
</div>

<div id="more" class="animated fadeInDown">
  <h1>Unanswered Questions?</h1>
  <p>Feel free to send an email to our customer support team.</p>
  <button mat-raised-button routerLink="/support">Customer Support</button>
</div>